<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="static/style.css" rel="stylesheet">
  <script src="static/app.js"></script>
</head>

<body class="bg-stone-200 w-full overflow-x-hidden min-h-screen flex flex-col">
  <nav class="px-8 py-4 bg-white">
    <h1 class="text-2xl font-bold">Drawvec</h1>
  </nav>
  <main class="flex-1 relative flex flex-row justify-center">
    <!--Fixed by the svg file-->
    <div id="canvas" class="bg-white shodow-lg rounded-sm border border-stone-200 margin-auto flex flex-row ">
    </div>
  </main>
</body>

</html>
